{{# partial "titulo" }}	
	<title>Recetas - QueComemos</title>
{{/partial}}
		
{{# partial "contenido" }}	

<form action="/recetas" >
  <div class="row">
	  <div class="col-md-10">
		  <input type="text" class="form-control" name="filtroNombre">
		</div>
		<div class="col-md-2">
		  <input type="submit" class="form-control  btn btn-info" value="Buscar">
		</div>
  </div>
</form>

<div class="row">
	<div class="col-md-12">	
	<table class="table table-striped" >
			<td>Nombre</td>
			<td>Calorias</td>
			<td>Dificultad</td>
			<td>Temporada</td>
			<td>Propietario</td>
			<td>RecetaID</td>
		</hr>
	{{#listRecetas}}
		<tr>
			<td>{{nombre}}</td>
			<td>{{calorias}}</td>
			<td>{{dificultad}}</td>
			<td>{{temporada}}</td>
			<td>Publica</td>
			<td>{{id}}</td>
		</tr>
		
	{{/listRecetas}}				
	</table>
	</div>
</div>


<form action="/recetas" method="POST">
  <div class="row">
	  <div class="col-md-2">
		  <input type="text" class="form-control" name="recetaid">
		</div>
		<div class="col-md-2">
		  <input type="submit" class="form-control  btn btn-info" placeholder="recetaID" value="Ver Receta">
		</div>
		
  </div>
</form>


{{/partial}}
				
{{> layout.hbs }}